// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #FFF !default;
$header-bg-color: #347CF8 !default;
$header-bg-color-secondary: #1747BE !default;

// Text
$section-headings-color: #347CF8 !default;
$body-text-color: #222 !default;
$body-link-color: #347CF8 !default;
$blockquote-text-color: #999 !default;

// Code
$code-bg-color: #FFF !default;
$code-text-color: #333 !default;

// Borders
$border-color: #DDD !default;
$table-border-color: #EEE !default;
$hr-border-color: #FFF !default;
